---
---

@import "{{ site.theme }}";
@font-face {
    font-family: 'Sears Tower';
    src: url('/assets/fonts/Sears_Tower.ttf');
  }
  @font-face {
    font-family: "CreepyInk";
    src: url('/assets/fonts/french.ttf') format("truetype");
}
.footer-col {
    float: none;
    text-align:center;
}
body {
    background:black;
    color:gray;
}
.site-title {
    color:red !important;
    font-size:200px;
    font-family:"CreepyInk", sans-serif;
    width:100vw;
    padding:60px;
}
h1, h3, h3 a{
    color:gray !important;
    font-size:135px !important;
    font-family:"CreepyInk", sans-serif;
}

h3 a:hover {
    color:red !important;
}

p, h2, .post-meta {
    font-family:"Sears Tower", serif;
}